dram_test/.gitignore

.metadata/
.vscode/
.analytics
.Xil/

*.log
.python-version
vivado.jou
*.backup.*
*.ide.zip
*.str
*.wcfg

*.o
*.so
*.a
*.elf
*.elf.*
FPGA/Vivado/CameraPipeline.gen/
FPGA/Vivado/CameraPipeline.runs/

FPGA/HLS/*/.*/
FPGA/HLS/*/solution1
FPGA/HLS/*/Debug
FPGA/HLS/*/.*log*
FPGA/HLS/*/.cproject

*.jpg
*.png

FPGA/Vivado/CameraPipeline.ip_user*
FPGA/Vivado/CameraPipeline.srcs*
FPGA/Vivado/CameraPipeline.cache*

.DS_Store

*.gtkw
*.vcd
FPGA/verilog_modules/test.out

